.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}
.btn:hover {
    color: #212529;
    text-decoration: none
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.btn.disabled,
.btn:disabled {
    opacity: .65
}
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none
}
.btn-link {
    border: 1px solid #fff;
    font-weight: 400;
    color: #fff;
    text-decoration: none
}
.btn-link:hover {
    color: #fff;
    text-decoration: underline
}
.btn-link.focus,
.btn-link:focus {
    text-decoration: underline;
    box-shadow: none
}
.btn-link.disabled,
.btn-link:disabled {
    color: #6c757d;
    pointer-events: none
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}
.btn-danger.focus,
.btn-danger:focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}
.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}
.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}
.btn-dark.focus,
.btn-dark:focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}
.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}
.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    width: 400px;
    line-height: 1.5;
    border-radius: .3rem
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}
.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}
select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}
.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}
.col-form-label-lg {
    padding-top: calc(.5rem + 1px);
    padding-bottom: calc(.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5
}
.col-form-label-sm {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    font-size: .875rem;
    line-height: 1.5
}
.form-control-plaintext {
    display: block;
    width: 100%;
    padding: .375rem 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0
}
.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
    padding-right: 0;
    padding-left: 0
}
.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}
.form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}
select.form-control[multiple],
select.form-control[size] {
    height: auto
}
textarea.form-control {
    height: auto
}
.form-group {
    margin-bottom: 1rem
}
.form-text {
    display: block;
    margin-top: .25rem
}
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}
.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem
}
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem
}
.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label {
    color: #6c757d
}
.form-check-label {
    margin-bottom: 0
}
.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem
}
.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0
}